body {
  background-color: #fff7ed;
  color: #36a8c1;
  margin: 0;
}

section {
  max-width: 46em;
  margin: 0 auto;
}

header {
  background-color: #36a8c1;
  color: #fff7ed;
  padding: 2em;
  padding-bottom: 2.5em;
  position: relative;
  }

footer {
  background-color: #36a8c1;
  color: #fff7ed;
  padding: 2em;
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.5em;

}

.linklist {
  list-style-type: none;
}

.linklist li {
  margin: 0.5em;
}

.linklist a {
  color: #fff;
}

header::after {
  content: " ";
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;left: 50%;
  transform: translateX(-50%) translateY(-30%) rotate(45deg);
  background-color: #36a8c1;
}

.image {
  background-image: url(final.jpg);
  min-height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.nastyadvert {
  background-image: url(Capture.jpg);
  min-height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.nastyadvert h1 {
    font-family: 'Baloo Chettan', cursive;
  color: #fff7ed;
  text-align: center;
  text-shadow: 5px 5px 30px #000000;
  font-size: 5em;
}

.nastyadvert p {
font-size: 2em;
font-family: 'Covered By Your Grace', cursive;
text-align: center;
color: #fff7ed;
text-shadow: 2px 2px 10px #000000;
}

.nastyadvert .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.mywork ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mywork li {
width: 25%;
border: #fff7ed 1em solid;
overflow: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.un img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.un:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.deux img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.deux:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.trois img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.trois:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.quatres img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.quatres:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cinq img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cinq:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.six img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.six:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sept img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sept:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.huit img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.huit:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.neuf img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.neuf:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.dix img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dix:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.onze img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.onze:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.douze img {
width: 100%;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.douze:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.myothersworks ul {
  list-style-type: none;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}


.homepage-bar {

        color: #fff;
        padding: 1rem;
        position: relative;
      }
